* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: #00ff66;
  font-family: monospace;
  text-align: center;
  overflow: hidden;
}

#matrix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1, button, video, a, p {
  position: relative;
  z-index: 1;
}

h1 {
  margin-top: 30px;
}

button {
  background: #00ff66;
  color: black;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

video {
  width: 90%;
  margin-top: 20px;
}
